body{
  width: auto;
  background-color: #01020a;
  color: white;
}

.container-body{
  margin-left: 2%!important;
  margin-right: 2%!important;
  padding: 5rem;
  text-align: center;
}

a{
  color: inherit;
  text-decoration: none;
}

a:link,
a:visited,
a:hover,
a:focus{
  color: inherit;
  text-decoration: none;
}

.nav-link{
  color: white!important;
  font-family: Arial;
  font-size: 1.3rem;
  font-weight: bold;
}

.nav-link:link,
.nav-link:focus,
.nav-link:visited{
  color: white!important;
  font-family: Arial;
  font-size: 1.3rem;
  font-weight: bold;
}

.nav-link:hover{
  color: #d9d9d9!important;
  text-decoration: underline;
}

#cameraData{
  background-color: #0b132b;
  width: 55em;
  height: auto;
  border: 1px solid #010317;
  border-radius: 25px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
}

.buttonsArea{
  width: 55em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  display: block;
  text-align: center;
}

.btn{
  height: 3rem;
  width: 8rem;
  border: none;
  border-radius: 5px;
  color: white!important;
  font-family: Arial;
  font-size: 1.2rem;
}

.btn-success{
  background-color: #0f9936; 
}

.btn-warning{
  background-color: #99920f;
}

.btn-danger{
  background-color: #992b0f;
}

.btnIcon{
  margin-right: 0.3rem;
  color: white!important;
}

#screenshots{
  padding: 1.8em;
  display: block;
  margin-left: 1.5em;
  margin-right: 1em;
}

.screenshots{
  width: 25em;
  height: auto;
  padding: 1em;
}